@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>Genre: @Html.DropDownList("Groceries", "All")</p>
</div>
