
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="text-center">
    <h1 class="display-4">Groce</h1>
    <div class="user-details">
        <form method="post" action="">
            Username:<br>
            <input type="text" name="username" value=""><br>
            Password:<br>
            <input type="password" name="user-password" value="" /><br><br>
            <input type="submit" value="Login" class="submit" />
            <!--<p> <a href="@Url.Action("ResetPassword", "Home")">Forgot Username / Password?</a></p>-->
        </form>
    </div>
</div>

